EMAIL_ADDRESS = me@email.com #your email address
APP_PASSWORD = pwd123  #your password / app password
ATTACHMENT_PATH = /save/my/files/here # path where you want your files stored
IMAP_SERVER = # leave blank for gmail

DAYS_BACK = # leave blank for default (7 days)

RCLONE_PATH = # path to copy to cloud
RCLONE = False # Copy to cloud switch
